/core/components/twig/vendor/
/core/components/twig/.phpunit.result.cache
/core/components/twig/.php-cs-fixer.cache
/.backup/

# MkDocs build output
/site/

# Local OS/editor noise
.DS_Store
Thumbs.db
